<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="output.css" />
    <script src="https://kit.fontawesome.com/dca18e0352.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <script src="helpers.js" defer></script>
    <title>Work Together</title>
  </head>
  <body>
    <div class="toolbar h-8 w-full bg-gray-300 hidden sm:block"></div>
    <div class="">
      <div id="video-grid" class="flex flex-wrap justify-center w-screen h-screen overflow-hidden"></div>
      <div class="space-y-3 hidden sm:block">
        <button class="p-3 bg-blue-500 text-white rounded" onClick="navigator.clipboard.writeText(ROOM_ID)">
          Copy Room ID
        </button>
        <section class="select">
          <label for="videoSelect">Video</label>
          <select class="p-1 rounded border-2 border-gray-200" id="videoSourceSelect"></select>
        </section>
        <section class="select">
          <label for="audioSelect">Audio</label>
          <select class="p-1 rounded border-2 border-gray-200" id="audioSourceSelect"></select>
        </section>
      </div>
    </div>
  </body>
</html>
